<!Doctype html>
<html lang="fr">    <!-- Langue : Français -->
    <head>

        <title> Mon Cv Perso </title>  <!-- Titre de la page -->
        <meta charset="utf-8"/>
        <link rel = "stylesheet"  href = "bundles/framework/css/main.css">
        <link rel = "stylesheet"  href = "bundles/framework/css/zoom_img.css">

    </head>

    <body>

        <header id = "accueil">   <!-- En tête de la page -->

            <img src = "bundles/framework/images/logo.png" id = "logo"></img>
            <img src = "bundles/framework/images/test.jpeg" id = "fond" ></img>

        </header>
        <nav id = "navi">

            <ul>
                <a href = "#accueil"><li id = "accueil_list" title="Accueil"></li></a>
                <a href = "#intro"><li id = "intro_list" title="Introduction"></li></a>
                <a href = "#form"><li id = "form_list" title="Formations"></li></a>
                <a href = "#connais"><li id = "connais_list" title="Connaissances"></li></a>
                <a href = "#proj"><li id = "proj_list" title="Projets"></li></a>

            </ul>

        </nav>
        <div id = "conteneur">

            <section id = "intro"> <!--Introduction-->

                <p> 
                    Bienvenue sur mon site Web !
                    Je m'appelle Gaston Saboy et je suis né le 13 juin 1999 à Montpellier.
                    Je suis passionné d'informatique depuis pas mal de temps , et c'est pour cela que j'ai décidé
                    de me lancer dans le développement.J'ai donc décider d'intégrer une formation
                    qui me permet , entre autres de développer des sites ainsi que des services web.
                </p>

            </section>

            <section id = "form"><!--Formations & connaissances-->

                <h1>Formations</h1>
                <p>
                    J'ai commencé a me former en autodidacte sur le web , mais cela ne me suffisait pas
                    et j'ai donc commencé à chercher quelque chose de concret , et j'ai trouvé une formation 
                    dévelopeur web , <a href = "">BeWeb</a> , qui m'a permis d'acquérir les compétences nécessaire pour développer  
                    des sites et des services web.

                </p>
            </section>
            <section id = "connais">

                <h1>Compétences</h1>
                Languages :
                <div id = "html">
                    <img src = "bundles/framework/images/html5.png"></img>
                    <div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div>
                </div>
                <div id = "css">
                    <img src = "bundles/framework/images/css3.png"></img>
                    <div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div>
                </div>
                <div id = "js">
                    <img src = "bundles/framework/images/js.png"></img>
                    <div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div>
                </div>
                <!-- <div id = "c++">
                   <img src = "/var/www/html/Portfolio/Images/c++.png"></img>
                 </div>-->

                Frameworks :

                <div id = "symf">
                    <img src = "bundles/framework/images/symfony.png"></img>
                    <div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div><div class = "un"></div>
                </div>




            </section>

            <!--Projets-->
            <section>
                <div id = "onglets">
                    <div id = "onglet_contain_1">
                        <div id = "onglet-1">Sites Web</div>
                        <div id = "onglet-2">Logiciels</div>
                    </div>

                    <div id = "onglet_contain_2">

                        <div class="item">
                            <a href="#"><img src="bundles/framework/images/image.jpeg" alt="Sauron" title="Sauron" /></a>

                            <div class="caption">
                                <a href="">Sauron</a>
                                <p>Seigneur des tenebres</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="bundles/framework/images/proj1.png" alt="Sauron" title="Sauron" /></a>

                            <div class="caption">
                                <a href="">Premier site</a>
                                <p>Acheter de la bière easy</p>
                            </div>
                        </div>

                    </div>


                    <div id = "onglet_contain_3">

                        <div class="item">
                            <a href="#"><img src="bundles/framework/images/proj2.png" alt="Sauron" title="Sauron" /></a>

                            <div class="caption">
                                <a href="">ClassGenerator</a>
                                <p>Générer vos classe C++ facilement !</p>
                            </div>
                        </div>

                    </div>

                </div>
        </section>

            <footer>   <!-- Pied de la page -->
              Footer

            </footer>
        </div>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
        <script src = "bundles/framework/Script/jquery.color.js"></script>
        <script src = "bundles/framework/Script/anim_sect.js"></script>
        <script src = "bundles/framework/Script/encre_dynam.js"></script>
        <script src = "bundles/framework/Script/onglets.js"></script>
        <script src = "bundles/framework/Script/zoom_img.js"></script>



    </body>

</html>